<div *ngIf="!this.$helperService.showAtBreakpoint(['sm'])" id="content_fixed">
    <div class="top_corner" (click)="this.toggleNavigation()">
        <i *ngIf="this.isOpen" class="fa-solid fa-xmark"></i>
        <i *ngIf="!this.isOpen" class="fa-solid fa-bars"></i>
    </div>
    <div [ngClass]="{'btn_active': this.prev }" class="btn" (click)="this.prevSlide()">
        <i class="fa-solid fa-arrow-left-long"></i>
    </div>
    <div [ngClass]="{'btn_active': this.next }" class="btn" (click)="this.nextSlide()">
        <i class="fa-solid fa-arrow-right-long"></i>
    </div>

    <div [ngClass]="{'btn_active': this.up }" class="btn">
        <i class="fa-solid fa-arrow-up-long"></i>
    </div>

    <div [ngClass]="{'btn_active': this.down }" class="btn">
        <i class="fa-solid fa-arrow-down-long"></i>
    </div>

    <div class="vertical_infos">
        <div class="vertical">{{ this.scrollY }}</div>
        <div class="vertical">SPACEFRAME</div>
    </div>
</div>