.intro {
  background-color: var(--background-color);
  height: 90vh;
  margin: 1px 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 60px;
  font-weight: 600;
  text-indent: 200px;
}
