.teaser {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 120px;
  font-family: var(--font-serif);
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  border-radius: 5px;
}
