.modal--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  margin-top: 10vh;
  height: 90vh;
  background-color: #ffffff;
  pointer-events: all;


}

.modal-close--button {
  position: absolute;
  top: 0;
  right: 0;
  height: 10vh;
  cursor: pointer;
  border: 1px solid #ff0000;
}

.project {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
  font-size: 20px;
}
