<ng-container *ngIf="this.showModal">
  <div class="modal--wrapper">
    <div class="modal">
      <div>
        <ng-container *ngFor="let slider of sliders; let i = index;">

          <div class="project">
            <div>{{ i + 1 }} {{ slider[0].title }} </div>
            <div>Slides {{ slider.length }}</div>

            <ng-container *ngFor="let slides of slider; let i = index">
              <div *ngIf="slides.stack">{{ slides.stack }}</div>
            </ng-container>

          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
