@import '~swiper/swiper.min.css';
@import '~swiper/modules/navigation/navigation.min.css';
@import '~swiper/modules/pagination/pagination.min.css';


.my-swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide-container {
  background-color: var(--background-color);
  height: 500px;
}

.slide-padding {
  padding: 20px;
}

/* HEADLINE */

.project--number {
  border-right: #cdcdcd 1px solid;
}

.headline {
  background-color: var(--background-color);
  margin-bottom: 1px;
  font-size: 40px;
  font-weight: 500;
  display: flex;
}

.headline div {
  padding: 40px 20px;
}

/* SLIDE STYLES */

.slide--title {
  font-size: 30px;
}

.slide--stack {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #cdcdcd;
  display: inline;
}

.full {
  width: 1000px;
}

slide--image--full {
  object-fit: contain;
}

/* BOX STYLES */

.slider-nav {
  //margin-bottom: 100px;
}

.box--title {
  flex-grow: 1;
  text-align: left !important;
}

.nav-arrow {
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 30px;
  background-color: var(--background-color);

  padding: 20px;
  margin: 1px 1px 1px 0;
}

.nav-arrow:hover {
  background-color: #000;
  color: #fff;
  
}


.nav-arrow-wrapper {
  display: flex;
  justify-content: end;
}
