<div class="project_intro">
  P/{{ (this.sliderIndex + 1) < 9 ? '0' + (this.sliderIndex + 1) : this.sliderIndex +1 }} <div>
</div>
<div *ngIf="this.slidesCount">SLIDE {{ this.activeSlide }} / {{ this.slider.length }} </div>
</div>




<swiper class="my-swiper" #swiper (swiper)="onSwiper($event)" (slideChange)="onSlideChange($event)">
  <ng-template swiperSlide *ngFor="let slide of slider; index as i">
    <div class="swiper-slide">
      SLIDE: {{ slide.title }} / {{ i + 1 }}
      <div>SLIDE</div>


      <div *ngIf="slide.image">
        <img [src]="slide.image">
      </div>
      <br>
      <span>SWIPER ENABLED ? {{ this.isSwiperActive }} </span>
      <span>{{ this.currentId }} | {{ this.sliderIndex }}</span>
    </div>
  </ng-template>
</swiper>