@import "~swiper/swiper.min.css";
@import "~swiper/modules/navigation/navigation.min.css";
@import "~swiper/modules/pagination/pagination.min.css";

.my-swiper {
  margin: 20px;
}

.swiper-slide-container {
}

.swiper-slide {
  width: 100%;
}

.project_intro {
  font-size: 40px;
  border-bottom: 1px solid #000;
  padding: 20px;
}

img {
  width: 100%;
}
.slide-border {
  // border-right: 1px solid #ff0000;
}

.swiper-border {
  // border-left: var(--border-site);
  // border-right: var(--border-site);
}

.slide-padding {
  padding: 20px;
}

/* HEADLINE */

.project--number {
  border-right: var(--border-site);
}

.headline {
  //background-color: var(--background-color);
  margin-bottom: 1px;
  font-size: 40px;
  font-weight: 500;
  display: flex;
  border: var(--border-site);
}

.headline div {
  padding: 40px 20px;
}

/* SLIDE STYLES */

.slide--title {
  font-size: 30px;
}

.slide--stack {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #cdcdcd;
  //display: inline;
}

slide--image--full {
  object-fit: contain;
}

/* BOX STYLES */

.slider-nav-wrapper {
  display: flex;
  flex-grow: 1;
  border: var(--border-site);
}

.slider-nav-wrapper span:not(:last-child) {
  border-right: var(--border-site);
}

.box--title {
  text-align: left !important;
  width: 66.666%;
}

.nav-arrow {
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: 30px;
  padding: 20px;
  margin: 1px 1px 1px 0;
  flex-grow: 1;
}

.nav-arrow:hover {
  background-color: #000;
  color: #fff;
}

.nav-arrow-wrapper {
  display: flex;
  justify-content: end;
}

.info-two-cols {
  column-count: 2;
}

.vertical-margin {
  margin-top: 100px;
}
