img {
  object-fit: cover;
}

.scale_a,
.scale_b {
  padding: 10px;
  width: 50%;
  -webkit-transition: width 0.6s ease-in-out;
}

.scale_a:hover {
  width: 80%;
}

.scale_a:hover ~ .scale_b {
  width: 20%;
}

.scale_b:hover {
  width: 80%;
}

.scale_a:has(~ .scale_b:hover) {
  width: 20%;
}

#project_intro {
  display: flex;
  margin: 50px 0;


  .title {
    flex: 2 1 0;
    font-family: var(--font-sans);
    font-size: 40px;
    font-weight: 400;
  }

  .text_wrapper {
    flex: 2 1 0;
  }

  .text {
    column-count: 2;
    column-gap: 40px;
  }

  .info_wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  .info {
    flex: 1 1 0;
  }

  .info_headline {
    text-decoration: underline;
    margin-top: 24px;
    line-height: 30px;
  }
}


.stack_tag {
  margin: 2px;
  display: inline-block;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px;
}

#project_images {
  display: flex;
  //cursor: nesw-resize;
}
