<div *ngFor="let project of projects; let i = index">
  <div id="project_intro">
    <div class="title">
      {{ project.title }}
    </div>
    <div class="text_wrapper">
      <div class="text">
        {{ project.text }}
      </div>
      <div class="info_wrapper">
        <div class="info">
          <div class="info_headline">YEAR</div>
          {{ project.year }}

          <div class="info_headline">CLIENT</div>
          {{ project.client }}
        </div>

        <div class="info">
          <div class="info_headline">TYPE</div>
          {{ project.type }}

          <div class="info_headline">STACK</div>
          <ul>
            <li class="stack_tag" *ngFor="let technology of project.stack">
              {{ technology}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="project_images">
    <div class="scale_a scale_observer"
         [ngStyle]="{'width' : project.imageFirst ? project.imageFirst +'%' : '50%' }">
      <div class="scale_info">
        <img src="assets/icons/maximize.svg" height="15" alt="maximize icon">
        {{ sizeA }}%
      </div>
      <img src="assets/test/1.jpg" width="100%" [alt]="project.title">
    </div>
    <div class="scale_b scale_observer"
         [ngStyle]="{'width' : project.imageFirst ?  100 - project.imageFirst +'%' : '50%' }">
      <div class="scale_info">
        <img src="assets/icons/maximize.svg" height="15" alt="maximize icon">
        {{ sizeB }}%
      </div>
      <img src="assets/test/2.jpg" width="100%" [alt]="project.title">
    </div>
  </div>
</div>
