#header_wrapper {
  display: flex;
  align-items: center;

  .logo {
    font-size: 36px;
    font-weight: 700;
    flex: 3 1 0;
    font-family: var(--font-serif);
    color: var(--color-primary);
  }

  .main_nav_item {
    flex: 1 1 0;
    font-size: 20px;
    font-weight: 600;
  }
}

#navigation_wrapper {
  margin: 130px 0 150px 0;
  display: flex;

  .intro_text_wrapper {
    flex: 3 1 0;
    font-size: 30px;
    font-family: var(--font-serif);
    line-height: 38px;
  }

  .intro_text {
    margin-right: 60px;
    display: block;
  }

  .nav_item {
    flex: 1 1 0;
    line-height: 26px;
    overflow: hidden;
  }

  .nav_title {
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 7px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.dots {
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.main_nav_icons {
  display: flex;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--font-color-main);
}

li {
  list-style-type: "· ";
  font-size: 15px;
}
