html,
body {
  margin: 0px;
  color: #000;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #cdcdcd;
}

/* GLOBAL VARIABLES */

:root {
  --background-color: #FFF;
  --background-color-site: #EEE;
}
