body {
  margin: 40px;
  color: var(--font-color-main);
  font-family: var(--font-sans);
  background-color: var(--color-white);
}

/* GLOBAL VARIABLES */
:root {
  --background-color: #d0d0d0;
  --font-color-main: #333333;
  --color-primary: #FF5050;
  --color-white: #FFFFFF;
  --color-darkest: #000000;
  --font-serif: 'Brygada 1918', serif;
  --font-sans: 'Inter', sans-serif;
  --border-site: #999 1px solid;
}

li {
  list-style-type: none;
}
